#instruments {
    height: 500px;
    width: 192px;
    float: left;
    margin-top: 100px;
    background-color: #8affe2;
    overflow-y: auto;
    font-size: 20px;
}

#instruments option:hover {
    background-color: #00cc99;
}

#instruments option {
    height: 50px;
}

main {
}